/* styles go here */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilização do corpo da página */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Estilização do título */
h1 {
  font-size: 2.5rem;
  color: #007acc;
}
