@font-face {
  font-family: 'latoregular';
  src:
    url('./assets/fonts/lato-regular-webfont.woff2') format('woff2'),
    url('./assets/fonts/lato-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'latobold';
  src:
    url('./assets/fonts/lato-bold-webfont.woff2') format('woff2'),
    url('./assets/fonts/lato-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

.ReactModal__Body--open {
  overflow: hidden;
}
.ReactModal__Body--open .header {
  display: none;
}

body {
  background-color: #e2e7ea;
}
