body {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  margin: 0;
  color: #000;

  /* width: 1200px;
  height: 60px; */
}

header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  height: 60px;
  padding: 10px 20px;
  border: 2px solid transparent;
}

header:hover {
  border: 2px solid #00acdc;
}

.logo {
  display: inline-block;
  border: 2px solid transparent;
}

.logo img {
  height: 40px;
  width: 40px;
  vertical-align: middle;
}

.logo:hover {
  border: 2px solid #00acdc;
}

nav ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 50px;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  border-bottom: 5px solid transparent;
  display: inline-block;
}

nav ul li:nth-child(1) a {
  color: #00acdc;
}

nav ul li:nth-child(4) a {
  color: #00acdc;
}

nav ul li a:hover {
  text-decoration: underline;
  text-decoration-color: #00acdc;
  text-decoration-thickness: 2px;
  text-underline-offset: 0;
}
