* {
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.header__logo {
  height: 40px;
  width: 40px;
  align-self: center;
}

.header__logo img {
  height: 100%;
  width: 100%;
}

.nav {
  padding: 0;
  display: flex;
  margin-left: -20px;
  list-style: none;
}

.nav__item {
  margin-left: 20px;
}

.nav__link {
  font-weight: 500;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
  transition: color 0.3s;
  position: relative;
}

.nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  border-radius: 8px;
  background-color: #00acdc;
  opacity: 0;
}

.nav__link:hover {
  color: #00acdc;
}

.nav__link.is-active {
  color: #00acdc;
}

.nav__link.is-active::after {
  opacity: 1;
}
