* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  background-color: grey;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 1024px;
  height: 60px;
  background: #fff;
  padding: 0 50px;
}

.nav_list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav_item {
  margin: 0 10px;
}

a {
  text-decoration: none;
}

.gadgets {
  color: #000;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
}

.apple {
  color: #00acdc;
}

.gadgets:hover {
  color: #00acdc;
}

.apple::after {
  content: '';
  position: absolute;
  bottom: -23px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 8px;
  background-color: #00acdc;
}
