* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.stars {
  display: flex;
}

.stars__item {
  width: 15px;
  height: 15px;
  margin: 0 4px 0 0;
  
  background-image: url(images/star.svg);
  background-position: center;
  background-size: 13px 12px;
  background-repeat: no-repeat;
}

.stars--1 .stars__item:nth-child(1),
.stars--2 .stars__item:nth-child(-n+2),
.stars--3 .stars__item:nth-child(-n+3),
.stars--4 .stars__item:nth-child(-n+4),
.stars--5 .stars__item:nth-child(-n+5) {
  background-image: url(images/star-active.svg);
}
