h1 {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  font-family: Arial, sans-serif;
  color: #000;
  margin: 8px 0 0;
  padding: 0;
}

body {
  margin: 8px;
  background: #fff;
  color: #000;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2;
}
