/* styles go here */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  font-family: Roboto, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 50px;
  background-color: #fff;
}

.logo img {
  height: 40px;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li:last-child {
  margin-right: 0;
}

.nav-link {
  display: block;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  height: 40px;
  line-height: 40px;
  position: relative;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #007bff;
}

.nav-link.is-active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: #007bff;
}
