body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  background-color: #fff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.logo img {
  height: 50px;
}


.nav-list {
  display: flex;
  list-style: none;
}

.nav-list li {
  margin-right: 20px;
}

.nav-list li:last-child {
  margin-right: 0;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}

.nav-link:hover {
  color: #007bff;
}

.nav-link.is-active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: #007bff;
}

