body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  background: #fff;
  box-sizing: border-box;
  display: inline-block;
  margin: 0 50px;
}

.logo {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;

}

.moyo {
  text-align: center;
}

ul {
  display: flex;
  margin: 0;
  list-style: none;
  padding: 0;
}

li {
  margin-left: 20px;
}

.nav-link {
  width: 100px;
  flex-direction: row;
  text-align: none;
  display: inline-block;
  margin: 23px;
  border: 5px;

}

a {
  display: flex;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  height: 60px;
}

:root {
  --blue-color: #00aeef;
}

a.is-active {
  color: var(--blue-color);

}

a:hover {
  color: var(--blue-color);
}


