
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
    background-color:#ffffff;
}


.header__logo {
    height: 40px;
    width: auto;
}




nav ul {
    display: flex;
    gap: 36px;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 6px;
}


nav a.active {
    color: #00ACDC;
    border-bottom: 3px solid #00ACDC;
}
