* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

:root {
  --blue-color: #007bff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  background-color: white;
}

.logo img {
  height: 40px;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  height: 40px; 
}

.nav-link:hover {
  color: var(--blue-color);
}

.is-active {
  position: relative;
  color: var(--blue-color);
}

.is-active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--blue-color);
}
