name: Test and Deploy

on:
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v2
      
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      
      - run: npm install
      
      - run: npm test
      
      - name: Upload BackstopJS Report (HTML)
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: report
          path: backstop_data/html_report/

      - name: Deploy BackstopJS Report to GitHub Pages
        if: ${{ always() }}
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: backstop_data/html_report/
