name: Test

on:
  pull_request:
    branches: [ master ]
  push:
    branches: [ master ]  # Add this to deploy after merge

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      - run: npm test
      - name: Upload HTML report (backstop data)
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: report
          path: backstop_data

      # Add this step to deploy to GitHub Pages
      - name: Deploy test report to GitHub Pages
        if: ${{ github.ref == 'refs/heads/master' }}
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./report/html_report  # or the directory where your report's index.html is located